@model PersianNov.DataStructure.Author
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="row justify-content-center">

    <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">
                                    به رمان فارسی خوش آمدید
                                </h1>
                            </div>
                            <form class="user" method="post" action="/Author/Register">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="FirstName" id="FirstName" placeholder="نام">

                                </div>
                                <div class="form-group">

                                    <input type="text" class="form-control form-control-user" name="LastName" id="LastName" placeholder="نام خانوادگی">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="Email" id="Email" placeholder="ایمیل">
                                </div>
                                <div class="form-group">
                                    <input type="number" maxlength="11" class="form-control form-control-user" name="Phone" id="Phone" placeholder="موبایل">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="Password" id="Password" placeholder="رمز عبور">

                                </div>
                                <div class="form-group">

                                    <input type="password" class="form-control form-control-user" name="RepeatPassword" id="RepeatPassword" placeholder="تکرار رمز عبور">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    ثبت نام
                                </button>

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">رمز عبورم را فراموش کرده ام</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/Author/Login">قبلا ثبت نام کرده اید ؟ وارد شوید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

