@model PersianNov.DataStructure.Author
@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}


<div class="row justify-content-center">

    <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <div class="text-danger text-center">
                                    @ViewBag.Message
                                </div>
                            </div>
                            <form class="user" method="post" action="/Author/ChangePassword">
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" asp-for="FirstName" placeholder="رمز عبور قبلی">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" asp-for="Password" placeholder="رمز عبور جدید">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" asp-for="RepeatPassword" placeholder="تکرار رمز عبور جدید">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    ذخیره
                                </button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

