@model PersianNov.DataStructure.Book
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <form method="post" enctype="multipart/form-data" action="/Book/Create">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">عنوان</label>
                <input type="text" class="form-control" name="Name" id="Name" />

            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">نام ناشر </label>
                <input type="text" class="form-control" name="PublisherName" id="PublisherName" />

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">قیمت</label>
                <input type="number" class="form-control" name="Price" id="Price">

            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">تخفیف (درصد)</label>
                <input type="number" class="form-control" name="Discount" id="Discount">

            </div>


        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">ژانر</label>
                <select class="custom-select" name="Janre" id="Janre" asp-items="(SelectList)ViewBag.Janre">
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">تعداد صفحات</label>
                <input type="number" class="form-control" name="PageCount" id="PageCount">

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="exampleFormControlTextarea1">موضوع </label>
                <textarea class="form-control" name="Subject" id="Subject" rows="5"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="exampleFormControlTextarea1">چکیده </label>
                <textarea class="form-control" id="Abstract" name="Abstract" rows="5"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">تصویر کتاب</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01"></label>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">فایل PDF</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="pdf" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01"></label>
                </div>

            </div>
        </div>



        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" name="Finished" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">پایان یافته است</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" name="FreeStydy" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">مطالعه برای عموم آزاد است</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" name="Show" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">نمایش داده شود</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <button class="btn btn-primary" type="submit">ثبت</button>
    </form>

</div>
