
@{
    ViewData["Title"] = "Cooperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron">
        <h1>همکاری با رمان فارسی</h1>
        <h3>نویسنده هستم</h3>
        <p>
            درصورت تمایل به همکاری با سایت ما، می توانید از طریق پنل نویسندگان وارد سایت شوید و رمان های خود را به اشتراک بگذارید.
            سایت ما فقط و فقط مایل به نشر محتوای اخلاقی با رضایت نویسنده می باشد.
            همچنین رمان فارسی با درنظر گرفتن زیرساخت های لازم ، مانع از کپی برداری و انتشار محتوای کتب شما عزیزان می شود و این قول را به شما عزیزان میدهد که با تمام امکانات موجود در حفظ مالکیت اثر شما بکوشد.
            <br />
            در صورت تمایل، بیست درصد از فروش فایل رمان هایتان به سایت تعلق می گیرد و هشتاد درصد مابقی، برای نویسنده محفوظ می ماند.
            این پول وارد حساب کاربری‌تان می شود و بیست و چهار ساعته قابل برداشت است.

        </p>
        <a class="btn btn-primary btn-lg" target="_blank" href="https://Author.persiannovel.com" role="button">پنل نویسندگان</a>
        <br /><br /><br />


        <h3>ناشر هستم</h3>
        <p>
             ناشران گرامی می توانند درصورت تمایل، عیارسنجی از رمان های چاپی خود را به ما ارائه دهند تا سفارش کاربران برای خرید از طریق سایت ما ثبت شود و به واحد فروش نشر ارائه گردد.
            سود حاصل از فروش رمان های چاپی، قابل بحث می باشد.
        </p>

    </div>
