@model IEnumerable<PersianNov.DataStructure.Book>
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div id="scroll-wrap" class="container">
    <div class="main">
        <div id="bookshelf" class="bookshelf">
            @*@{
                var i = 1;
                foreach (var item in Model)
                {*@
                    <figure>
                        <div class="book" data-book="book-1"></div>
                        <div class="buttons">
                            <a href="#">الان بخون</a>
                        </div>
                        <figcaption><h2>9 Lives <span>Andrew Hudson</span></h2></figcaption>
                    </figure>
                    @*i++;
                }
            }*@


        </div>



        <div class="bb-custom-wrapper" id="book-1">
            <div class="bb-bookblock">
                <div class="bb-item">
                    <div class="bb-custom-side page-layout-3">
                        <div>
                            <h3>Portraits</h3>
                            <p>Photography (1999 &ndash; 2013)</p>
                        </div>
                    </div>
                    <div class="bb-custom-side page-layout-3">
                    </div>
                </div>
                <div class="bb-item">
                    <div class="bb-custom-side page-layout-1">
                        <h3>
                            Chapter 9 <span>Nomadic Lifestyle</span>
                        </h3>
                    </div>
                    <div class="bb-custom-side page-layout-1">
                        <p>Candy canes lollipop macaroon marshmallow gummi bears tiramisu. Dessert croissant cupcake candy canes. Bear claw faworki faworki lemon drops. Faworki marzipan sugar plum jelly-o marzipan cookie.</p>
                    </div>
                </div>
                <div class="bb-item">
                    <div class="bb-custom-side page-layout-2">
                        <div>
                            <h3>Aa</h3>
                            <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                        </div>
                        <div>
                            <h3>Bb</h3>
                            <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                        </div>
                    </div>
                    <div class="bb-custom-side page-layout-2">
                        <div>
                            <h3>Cc</h3>
                            <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                        </div>
                        <div>
                            <h3>Dd</h3>
                            <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /bb-bookblock -->
            <nav>
                <a href="#" class="bb-nav-prev">Previous</a>
                <a href="#" class="bb-nav-next">Next</a>
                <a href="#" class="bb-nav-close">Close</a>
            </nav>
        </div><!-- /bb-custom-wrapper -->
    </div>
</div>