
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

    <div class="alert alert-danger text-center" role="alert">
        <img src="~/img/alert.png" width="350"  />
        <h4 class="alert-heading">اخطار !</h4>
       <p>
           شما دسترسی لازم به این بخش را ندارید
       </p>
    </div>
