<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>رمان فارسی - @ViewData["Title"]</title>
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Sacramento|Abril+Fatface|Six+Caps|Cardo:400italic,700" />*@
    <link rel="icon" type="image/png" href="~/img/logo.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/css/bookblock.css" rel="stylesheet" />
    <link href="~/css/component.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/modernizr.custom.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />

</head>
<body>
    <header>
        @await Component.InvokeAsync("MenuComponent")
        <div class="main-header">
            <img src="~/img/pen.png" class="pen-logo" />
            <img src="~/img/top-logo.png" class="logo" />
        </div>



    </header>
    <div class="container">
        <main role="main" class="pb-3">


            @RenderBody()

        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bookblock.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/bookshelf.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
