@model PersianNov.DataStructure.BookPart
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<div class="container-fluid">

    <form method="post" enctype="multipart/form-data" action="/BookPart/Create">
        <input type="hidden" name="BookId" value="@Model.BookId" />

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">عنوان</label>
                <input type="text" class="form-control" name="Name" />

            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">شماره پارت</label>
                <input type="number" class="form-control" name="PartNumber" />

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">تاریخ نشر</label>
                <input type="date" class="form-control" name="PublishDate" />

            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="FreeStydy">VIP است ؟</label>
                <input type="radio" value="true" name="VIP">بله
                <input type="radio" value="false" name="VIP">خیر
            </div>

            <div class="col-md-6 mb-3">
                <label for="FreeStydy">فعال است ؟ </label>
                <input type="radio" value="true" name="Enabled">بله
                <input type="radio" value="false" name="Enabled">خیر

            </div>
        </div>


        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">تصویر پارت</label>
                <input type="file" class="form-control" name="image" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <div id="summernote"></div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">ثبت</button>
        <a class="btn btn-warning" asp-action="Index" asp-route-bookId="@Model.BookId">بازگشت</a>
    </form>

</div>
